@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: "Times New Roman";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif);
  line-height: 1.16;
}

@media print {
  main {
    border: none;
    padding: 0;
    width: auto;
    height: auto;
    min-height: 9in;
  }

  .control {
    display: none;
  }

  @page {
    size: Letter;
    margin: 1in;
  }
}
